{{template "base/head" .}}
<div class="ui container center">
	<h3>{{Gettext ("Error: 404 not found")}}</h3>
	<div class="ui divider"></div>
	<br>
	<p>{{Gettext ("Application Version:")}} {{AppVer}}</p>
	<p>{{Gettext ("If you think this is an error with the application, please open an issue.")}}</p>
</div>
{{template "base/footer" .}}
