{{template "base/head" .}}
<div class="ui container center">
	<h3>{{Gettext ("An error occured.")}}</h3>
	<div class="ui divider"></div>
	<br>
	{{if .ErrorMsg}}<p>{{Gettext ("An error has occured:")}} {{.ErrorMsg}}</p>{{end}}
	<p>{{Gettext ("Application Version:")}} {{AppVer}}</p>
</div>
{{template "base/footer" .}}
