{% extends "layout.jinja2" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="{{ url_for_security('login') }}" method="POST" name="send_login_form" role="form" class="form">
                {{ send_login_form.hidden_tag() }}
                {{ wtf.form_errors(send_login_form, hiddens="only") }}

                {{ wtf.form_field(send_login_form.email) }}

                {{ wtf.form_field(send_login_form.submit, button_map={'submit': 'success'}) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}