
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>reel2bits oauth authorization</title>
    </head>
    <body>
        <h3>reel2bits oauth authorization form</h3>
        <form action="" method="POST">
            <label>Username
                <input type="text" name="username">
            </label>
            <br/>

            <label>Password
                <input type="password" name="password">
            </label>
            <br />
            <br />
            The following scopes will be authorized:<br>
            <ul>
                {% for scope in scopes %}
                    <li>{{ scope }}</li>
                {% endfor %}
            </ul>
            <button>submit</button>
        </form>
    </body>
</html>