*.pyc
/config.py
/.idea
*.db
/uploads/pictures/*
/uploads/sounds/*
/uploads/waveforms/
/tmp/cty.xml
/.pytest_cache/
/api/reel2bits.egg-info
/api/.eggs
/.eggs
/configtest.py
/api/errors_app.log
.coverage
/.ropeproject
/.mypy_cache
/api/test-reports
test/unit/coverage/
test/e2e/reports
.DS_Store
/docs-build
/docs/_build/

api/config/*_secret.py

# Translations
*.mo

*~

front/src/translations.json
front/src/translations/*.json
front/locales/en_US/LC_MESSAGES/app.po
