*.pyc
/config.py
/.idea
*.db
/uploads/pictures/*
/uploads/sounds/*
/uploads/waveforms/
/tmp/cty.xml
/.pytest_cache/
/reel2bits.egg-info
/.eggs
/configtest.py
/errors_app.log
.coverage
/.ropeproject
/.mypy_cache
/test-reports
test/unit/coverage/
test/e2e/reports
.DS_Store
/docs-build