# Website translations
BABEL_DEFAULT_LOCALE = "en"

# Uploads dirs
UPLOADED_SOUNDS_DEST = "/home/reel2bits/uploads/sounds"
UPLOADS_DEFAULT_DEST = "/home/reel2bits/uploads"
TEMP_DOWNLOAD_FOLDER = "/home/reel2bits/tmp"

# Where is located Audiowaveform ?
AUDIOWAVEFORM_BIN = "/usr/local/bin/audiowaveform"

# If using sentry, set a DSN
SENTRY_USER_ATTRS = ['name', 'email']
SENTRY_DSN = ""

# Redis configuration for broker, used for async background tasks
BROKER_REDIS_HOST = "127.0.0.1"
BROKER_REDIS_PORT = 6379
BROKER_REDIS_DB = 0

# They needs to be identical
# You can't change them after setup !
AP_DOMAIN = "localhost"
SERVER_NAME = AP_DOMAIN
BASE_URL = "https://" + AP_DOMAIN

SQLALCHEMY_DATABASE_URI = \
    'postgresql+psycopg2://postgres@database/reel2bits'

# Should users confirm theire email address ?
SECURITY_CONFIRMABLE = True
# Can users register on this instance ?
SECURITY_REGISTERABLE = True
# Can users recover theire password ?
SECURITY_RECOVERABLE = True
# Salt used for password hashing
# Do not change after users have registered
SECURITY_PASSWORD_SALT = 'CHANGEME'
# Do not change after users have registered
SECRET_KEY = 'CHANGEME'

# Mail setup
MAIL_SERVER = "localhost"
MAIL_PORT = 25
MAIL_USE_TLS = False
MAIL_USE_SSL = False
MAIL_USERNAME = None
MAIL_PASSWORD = None
MAIL_DEFAULT_SENDER = f"postmaster@{AP_DOMAIN}"

# Development only options
DEBUG = False
TESTING = False
SQLALCHEMY_ECHO = False
DEBUG_TB_PROFILER_ENABLED = False
DEBUG_TB_INTERCEPT_REDIRECTS = False

# Do not touch that
SQLALCHEMY_TRACK_MODIFICATIONS = False
SQLALCHEMY_RECORD_QUERIES = True
# Users can change password
# Do not disable, will breaks things
SECURITY_CHANGEABLE = True
# Password hash algorithm
SECURITY_PASSWORD_HASH = 'bcrypt'

SECURITY_SEND_REGISTER_EMAIL = True
SECURITY_SEND_PASSWORD_CHANGE_EMAIL = True
SECURITY_SEND_PASSWORD_RESET_NOTICE_EMAIL = True

BOOTSTRAP_USE_MINIFIED = True
BOOTSTRAP_SERVE_LOCAL = True
BOOTSTRAP_QUERYSTRING_REVVING = True
BABEL_DEFAULT_TIMEZONE = "UTC"
