Flask_Babelex==0.9.3
psycopg2-binary==2.7.7
texttable==1.6.0
Unidecode==1.0.23
pydub==0.23.1
mutagen==1.42.0
python-magic==0.4.15
flask==1.0.2
python-slugify==3.0.0
wtforms==2.2.1
sqlalchemy==1.3.1
pydub==0.23.1
bcrypt==3.1.6
celery==4.2.1
flask_mail==0.9.1
flask_migrate==2.4.0
flask_uploads==0.2.1
wtforms_alchemy==0.16.9
sqlalchemy_searchable==1.0.3
flask_debugtoolbar==0.10.1
redis==3.0.1
flask-accept==0.0.6
Bootstrap-Flask==1.0.10
git+https://github.com/mattupstate/flask-security#egg=Flask-Security
git+https://github.com/rhaamo/little-boxes@reel2bits#egg=little-boxes
