Flask_Babelex
psycopg2-binary
texttable
Unidecode
pydub
mutagen
flask_cli
python-magic
flask
python-slugify
wtforms
sqlalchemy
mutagen
pydub
bcrypt
dramatiq
flask_bootstrap
flask_mail
flask_migrate
flask_security
flask_uploads
wtforms_alchemy
sqlalchemy_searchable
flask_debugtoolbar
