Flask_Babelex==0.9.3
psycopg2-binary==2.7.5
texttable==1.4.0
Unidecode==1.0.22
pydub==0.23.0
mutagen==1.41.1
flask_cli==0.4.0
python-magic==0.4.15
flask==1.0.2
python-slugify==1.2.6
wtforms==2.2.1
sqlalchemy==1.2.12
pydub==0.23.0
bcrypt==3.1.4
celery==4.2.1
flask_bootstrap==3.3.7.1
flask_mail==0.9.1
flask_migrate==2.3.0
git+https://github.com/mattupstate/flask-security#egg=Flask-Security
flask_uploads==0.2.1
wtforms_alchemy==0.16.7
sqlalchemy_searchable==1.0.3
flask_debugtoolbar==0.10.1
redis==2.10.6
flask-accept==0.0.6
git+https://github.com/tsileo/little-boxes/#egg=little-boxes
