{{template "base/head" .}}

<div class="row">
    <div class="col-lg-9 col-lg-offset-1">
        <form class="form" action="{{.Link}}" method="post">
            {{.CSRFTokenHTML}}
            <h4 class="header">{{.i18n.Tr "track.title_edit"}}</h4>

            <div class="row">
                <div class="col-lg-6">
                    <div class="content">
                        <div class="form-group {{if .Err_Title}}has-error{{end}}">
                            <label for="title" class="">{{.i18n.Tr "track.form_title"}}</label>
                            <input type="title" name="title" id="title" class="form-control" value="{{.title}}" placeholder='{{.i18n.Tr "track.form_ph_title"}}' required>
                        </div>

                        <div class="form-group {{if .Err_Description}}has-error{{end}}">
                            <label for="description" class="">{{.i18n.Tr "track.form_description"}}</label>
                            <textarea name="description" id="description" class="form-control" placeholder='{{.i18n.Tr "track.form_ph_description"}}'>{{.description}}</textarea>
                        </div>

                        <div class="checkbox {{if .Err_IsPrivate}}has-error{{end}}">
                            <label>
                                <input type="checkbox" name="is_private" id="is_private" class="" value="true" {{if .is_private}}checked{{end}}>{{.i18n.Tr "track.form_is_private"}}
                            </label>
                        </div>

                        <div class="checkbox {{if .Err_ShowDlLink}}has-error{{end}}">
                            <label>
                            <input type="checkbox" name="show_dl_link" id="show_dl_link" class="" value="true" {{if .show_dl_link}}checked{{end}}>{{.i18n.Tr "track.form_show_dl_link"}}
                            </label>
                        </div>

                        <button class="btn btn-sm btn-success" type="submit">{{.i18n.Tr "form.save"}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{{template "base/footer" .}}
