{{/*
<html>
<body>
<div>
    */}}
<footer>
    <div>
        <div class="left">
            &copy; 2017-2018 reel2bits - {{Gettext "version: %s" AppVer}} - {{Gettext "page: <strong>%s</strong>" (LoadTimes .PageStartTime) | Safe}} - {{Gettext "template: <strong>%s</strong>" (call .TmplLoadTimes) | Safe}}{{ if eq .IsLogged true }} - Logged in as {{ .LoggedUserName }}{{ end }}
        </div>
        <div class="right">
            {{if NeedsImpressum}}
            <a href="{{URLFor "impressum"}}">Impressum</a>
            -
            {{end}}
            <a target="_blank" href="https://dev.sigpipe.me/dashie/reel2bits">{{Gettext ("Sources")}}</a>
            -
            <span class="version">{{GoVer}}</span>
        </div>
    </div>
</footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{AppSubURL}}/js/jquery-3.2.1.min.js"></script>
<script src="{{AppSubURL}}/js/bootstrap.min.js"></script>
<script src="{{AppSubURL}}/js/global.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{AppSubURL}}/js/ie10-viewport-bug-workaround.js"></script>
<script src="{{AppSubURL}}/js/jquery.bootstrap-growl.min.js"></script>
<script src="{{AppSubURL}}/js/datatables.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.5/wavesurfer.min.js"></script>

{{ if (or .PageIsTrackShow .PageIsTrackShowWait) }}
<script src="{{AppSubURL}}/js/trackShow.js"></script>
{{ end }}

{{ if .PageIsAlbumShow }}
<script src="{{AppSubURL}}/js/albumShow.js"></script>
{{ end }}


<script>
    var csrf;
    var suburl;
    csrf = $('meta[name=_csrf]').attr("content");
    suburl = $('meta[name=_suburl]').attr("content");
</script>

{{ if .PageIsTrackShow }}
    {{template "scriptsTrackShow" .}}
{{ end }}
{{ if .PageIsTrackShowWait }}
    {{template "scriptsTrackShowWait" .}}
{{ end }}
{{ if .PageIsAlbumShow }}
    {{template "scriptsAlbumShow" .}}
{{ end }}

</body>
</html>
