{{/*
<html>
<body>
<div>
    */}}
<footer>
    <div>
        <div class="left">
            © 2017 reel2bits - {{.i18n.Tr "footer.version"}}: {{AppVer}} - {{.i18n.Tr "footer.page"}}: <strong>{{LoadTimes .PageStartTime}}</strong> - {{.i18n.Tr "footer.template"}}: <strong>{{call .TmplLoadTimes}}</strong>
        </div>
        <div class="right">
            <a target="_blank" href="https://dev.sigpipe.me/dashie/reel2bits">{{.i18n.Tr "footer.sources"}}</a>
            -
            <span class="version">{{GoVer}}</span>
        </div>
    </div>
</footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{AppSubURL}}/js/jquery-3.2.1.min.js"></script>
<script src="{{AppSubURL}}/js/bootstrap.min.js"></script>
<script src="{{AppSubURL}}/js/global.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{AppSubURL}}/js/ie10-viewport-bug-workaround.js"></script>
<script src="{{AppSubURL}}/js/jquery.bootstrap-growl.min.js"></script>
<script src="{{AppSubURL}}/js/datatables.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.4.0/wavesurfer.min.js"></script>
<script>
    var csrf;
    var suburl;
    csrf = $('meta[name=_csrf]').attr("content");
    suburl = $('meta[name=_suburl]').attr("content");
</script>

{{ if .PageIsTrackShow }}
{{template "scripts" .}}
{{ end }}

</body>
</html>
