{{template "base/head" .}}

<form class="form-signin" action="{{.Link}}" method="post">
    {{.CSRFTokenHTML}}
    <h3 class="form-signin-heading">{{Gettext ("Forgot password?")}}</h3>

    {{if .IsResetSent}}
        <p>{{Gettext "A new confirmation email has been sent to <b>%s</b>, please check your inbox within the next %d hours to complete the registration process." .Email .Hours | Str2html}}</p>
    {{else if .ResendLimited}}
        <p class="center">{{Gettext ("Sorry, you already requested an activation email recently. Please wait 3 minutes then try again.")}}</p>
    {{else if .IsResetRequest}}
        <div class="user_name form-group {{if .Err_Email}}has-error{{end}}">
            <label for="email" class="sr-only">{{Gettext ("Email")}}</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="{{Gettext ("Email")}}" required autofocus value="{{.Email}}">
        </div>

        <br/>
        <button class="btn btn-sm btn-primary btn-block" type="submit">{{Gettext ("Click here to (re)send your password reset email")}}</button>
    {{else if .IsResetDisable}}
        <p class="center">{{Gettext ("Sorry, email services are disabled. Please contact the site administrator.")}}</p>
    {{end}}
</form>

{{template "base/footer" .}}