{{template "base/head" .}}

<form class="form-signin" action="{{.Link}}" method="post">
    {{.CSRFTokenHTML}}
    <h2 class="form-signin-heading">{{.i18n.Tr "auth.forget_password"}}</h2>

    {{if .IsResetSent}}
        <p>{{.i18n.Tr "auth.confirmation_mail_sent_prompt" .Email .Hours | Str2html}}</p>
    {{else if .ResendLimited}}
        <p class="center">{{.i18n.Tr "auth.resent_limit_prompt"}}</p>
    {{else if .IsResetRequest}}
        <div class="user_name form-group {{if .Err_Email}}has-error{{end}}">
            <label for="email" class="sr-only">{{.i18n.Tr "form.Email"}}</label>
            <input type="email" name="email" id="email" class="form-control" required autofocus value="{{.Email}}">
        </div>

        <br/>
        <button class="btn btn-sm btn-primary btn-block" type="submit">{{.i18n.Tr "auth.send_reset_mail"}}</button>
    {{else if .IsResetDisable}}
        <p class="center">{{.i18n.Tr "auth.disable_register_mail"}}</p>
    {{end}}
</form>

{{template "base/footer" .}}
