{{template "base/head" .}}

<form class="form-signin" action="{{.Link}}" method="post">
    {{.CSRFTokenHTML}}
    <h2 class="form-signin-heading">{{Gettext ("Sign In")}}</h2>

    <div class="user_name form-group {{if .Err_UserName}}has-error{{end}}">
    <label for="user_name" class="sr-only">{{Gettext ("Username")}}</label>
    <input type="string" name="user_name" id="user_name" class="form-control" placeholder='{{Gettext ("Your username.")}}' required autofocus>
    </div>

    <div class="password form-group {{if .Err_Password}}has-error{{end}}">
    <label for="password" class="sr-only">{{Gettext ("Password")}}</label>
    <input type="password" name="password" id="password" class="form-control" placeholder='{{Gettext ("Your password.")}}' required>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> {{Gettext ("Remember me")}}
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">{{Gettext ("Sign In")}}</button>
    <br/>
    <a class="" href="/user/forget_password">{{Gettext ("Needs a password reset ?")}}</a>
</form>

{{template "base/footer" .}}