{{template "base/head" .}}

<form class="form-signin" action="{{.Link}}" method="post">
    {{.CSRFTokenHTML}}
    <h2 class="form-signin-heading">{{Gettext ("Register")}}</h2>

    <div class="user_name form-group {{if .Err_UserName}}has-error{{end}}">
    <label for="user_name" class="sr-only">{{Gettext ("Username")}}</label>
    <input type="text" name="user_name" id="user_name" class="form-control" value="{{.user_name}}" placeholder='{{Gettext ("Your username.")}}' required autofocus>
    </div>

    <div class="email form-group {{if .Err_Email}}has-error{{end}}">
    <label for="email" class="sr-only">{{Gettext ("Email")}}</label>
    <input type="email" name="email" id="email" class="form-control" value="{{.email}}" placeholder='{{Gettext ("Your email.")}}' required autofocus>
    </div>

    <div class="password form-group {{if .Err_Password}}has-error{{end}}">
    <label for="password" class="sr-only">{{Gettext ("Password")}}</label>
    <input type="password" name="password" id="password" class="form-control" value="{{.password}}" placeholder='{{Gettext ("Your password.")}}' required>
    </div>

    <div class="repeat form-group {{if .Err_Repeat}}has-error{{end}}">
    <label for="repeat" class="sr-only">{{Gettext ("Password")}}</label>
    <input type="password" name="repeat" id="repeat" class="form-control" value="{{.repeat}}" placeholder='{{Gettext ("And the same one here.")}}' required>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">{{Gettext ("Sign In")}}</button>
</form>

{{template "base/footer" .}}