{{template "base/head" .}}

<form class="form-signin" action="{{.Link}}" method="post">
    {{.CSRFTokenHTML}}
    <input name="code" type="hidden" value="{{.Code}}">

    <h2 class="form-signin-heading">{{Gettext ("Reset Your Password")}}</h2>

    {{if .IsResetForm}}
        <div class="user_name form-group {{if .Err_Password}}has-error{{end}}">
            <label for="password" class="sr-only">{{Gettext ("Password")}}</label>
            <input type="password" name="password" id="password" class="form-control" required autofocus value="{{.password}}">
        </div>

        <br/>
        <button class="btn btn-sm btn-primary btn-block" type="submit">{{Gettext ("Click here to reset your password")}}</button>
    {{else}}
        <p class="center">{{Gettext ("Sorry, your confirmation code has expired or is not valid.")}}</p>
    {{end}}
</form>

{{template "base/footer" .}}