{{template "base/head" .}}

<form class="form-signin" action="{{.Link}}" method="post">
    {{.CSRFTokenHTML}}
    <input name="code" type="hidden" value="{{.Code}}">

    <h2 class="form-signin-heading">{{.i18n.Tr "auth.reset_password"}}</h2>

    {{if .IsResetForm}}
        <div class="user_name form-group {{if .Err_Password}}has-error{{end}}">
            <label for="password" class="sr-only">{{.i18n.Tr "form.Password"}}</label>
            <input type="password" name="password" id="password" class="form-control" required autofocus value="{{.password}}">
        </div>

        <br/>
        <button class="btn btn-sm btn-primary btn-block" type="submit">{{.i18n.Tr "auth.reset_password_helper"}}</button>
    {{else}}
        <p class="center">{{.i18n.Tr "auth.invalid_code"}}</p>
    {{end}}
</form>

{{template "base/footer" .}}
