{% extends "layout.jinja2" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <h3>{{ gettext("Edit upload: %(title)s", title=sound.title) }}</h3>
        </div>
    </div>
<div class="row">
    <div class="col-lg-6">
        <form action="{{ url_for('bp_sound.edit', username=sound.user.name, soundslug=sound.slug) }}" method="POST" class="form-horizontal" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens=True) }}
            {{ wtf.form_field(form.title, 'horizontal', placeholder=gettext("What's the title ?")) }}
            {{ wtf.form_field(form.description, 'horizontal', placeholder=gettext("Add a nice description ?")) }}
            <div class="col-lg-10 col-lg-offset-2">
                <small>{{ gettext("If you want to add to a new album you need to create it separately.") }}</small>
            </div>
            {{ wtf.form_field(form.album, 'horizontal') }}
            {{ wtf.form_field(form.licence, 'horizontal') }}
            {{ wtf.form_field(form.private, 'horizontal') }}
            {{ wtf.form_field(form.submit, button_map={'submit': 'success'}) }}
            <a class="btn btn-warning" href="{{ url_for('bp_sound.show', username=sound.user.name, soundslug=sound.slug) }}">{{ gettext("Cancel edit") }}</a>
        </form>
    </div>

    <div class="col-lg-6">
    </div>

</div>
{% endblock %}
