{% extends "layout.jinja2" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set info = sound.sound_infos.first() %}

{% block opengraph %}
    <meta content="{{ g.cfg['app_name'] }}" property="og:site_name" />
    <meta content="object" property="og:type" />
    {% if sound.description %}
        <meta content="Track {{ sound.title }} of {{ sound.user.name }}" property="og:title" />
        <meta content="{{ sound.description }}" property="og:description" />
    {% else %}
        <meta content="Track {{ sound.title }} of {{ sound.user.name }}" property="og:title" />
    {% endif %}
    <meta content="{{ url_for('bp_sound.show', username=sound.user.name, soundslug=sound.slug) }}" property="og:url" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-lg-offset-1 ss-user-back">
            <h3><i class="fa fa-angle-double-left" aria-hidden="true"></i> <a href="{{ url_for("bp_users.profile", name=sound.user.name) }}">{{ sound.user.name }}</a></h3>
        </div>
        <div class="col-lg-5">
            {% if not info or not info.done_basic %}
                <span class="label label-info">{{ gettext("Please wait, song metadatas are processing...") }}</span>
                <br /><br />
            {% endif %}
            {% if not sound.transcode_state == 2 %}
                <span class="label label-info">{{ gettext("Please wait, transcoding is on her way...") }}</span>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7 col-lg-offset-1">
            <h3>{% if not sound.private %}<i class="fa fa-music" aria-hidden="true"></i>{% else %}<i class="fa fa-lock" aria-hidden="true"></i>{% endif %} {{ sound.title|truncate(40) }}</h3>
        </div>

        <div class="col-lg-3">
            <h3><i class="fa fa-calendar" aria-hidden="true"></i> {{ gettext("%(value)s ago", value=duration_elapsed_human(sound.elapsed())) }}</h3>
        </div>
    </div>

    {% if sound.description %}
        <div class="row sound-description">
        <div class="col-lg-6 col-lg-offset-1">
            {{ sound.description }}
        </div>
        </div>
    {% endif %}

<div class="row">
    <div class="col-lg-7 col-lg-offset-1">
        <div class="row"><div class="col-lg-12">
            <div id="waveform"></div>
            <hr>
        </div></div>
        <div class="row">
            <div class="col-lg-3">
                <span id="player-time-cur"></span> / <span id="player-time-tot"></span>
            </div>
            <div class="col-lg-7">
            <p align="center">
                <button class="btn btn-primary" onclick="wavesurfer.skipBackward()">
                    <i class="fa fa-step-backward" aria-hidden="true"></i>
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary" onclick="wavesurfer.playPause()">
                    <i class="fa fa-play" aria-hidden="true"></i> / <i class="fa fa-pause" aria-hidden="true"></i>
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary" onclick="wavesurfer.skipForward()">
                    <i class="fa fa-step-forward" aria-hidden="true"></i>
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary" onclick="wavesurfer.toggleMute()">
                    <i class="fa fa-volume-off" aria-hidden="true"></i>
                </button>
            </p>
        </div></div>
    </div>
    <div class="col-lg-3">
        <table class="table table-condensed table-hoverable">
                <tr>
                    {% if current_user.is_authenticated and sound.user_id == current_user.id  %}
                        <td class="si_btn_edit"><a class="btn btn-success btn-xs" href="{{ url_for('bp_sound.edit', username=sound.user.name, soundslug=sound.slug) }}">{{ gettext('edit') }}</a></td>
                        <td class="si_btn_delete">
                        <a role="button" tabindex="0" class="btn btn-danger btn-xs" data-trigger="focus"
                           data-container="body" data-toggle="popover" data-placement="top" data-html="true"
                           data-content="<a class='btn btn-success btn-xs delete_log_link' href='{{ url_for('bp_sound.delete', username=sound.user.name, soundslug=sound.slug) }}'>{{ gettext("yes really") }}</a>">{{ gettext("delete") }}</a>
                        </td>
                    {% endif %}
                </tr>

                <tr>
                    <td>
                        <a class="btn btn-info btn-xs" href="{{ url_for('get_uploads_stuff', thing='sounds', stuff=sound.path_sound(orig=True)) }}">
                            <i class="fa fa-download" aria-hidden="true"></i> {{ gettext("download orig") }}
                        </a>
                    </td>
                    {% if sound.transcode_needed and sound.processing_done() %}
                    <td>
                        <a class="btn btn-info btn-xs" href="{{ url_for('get_uploads_stuff', thing='sounds', stuff=sound.path_sound(orig=False)) }}">
                            <i class="fa fa-download" aria-hidden="true"></i> {{ gettext("download mp3") }}
                        </a>
                    </td>
                    {% endif %}
                </tr>

            {% if sound.album %}
                <tr><td colspan="3">{{ gettext("In album:") }} <a href="{{ url_for("bp_albums.show", username=sound.user.name, setslug=sound.album.slug) }}">{{ sound.album.title|truncate(15) }}</a></td></tr>
            {% endif %}

            <tr>
                <td>{{ gettext("Licence") }}</td>
                <td>
                    {% if sound.licence_info()["icon"] %}
                        <i class="fa fa-{{ sound.licence_info()["icon"] }}" aria-hidden="true"></i>
                    {% endif %}

                    {% if sound.licence_info()["link"] %}
                        <a href="{{ sound.licence_info()["link"] }}" target="_blank">{{ sound.licence_info()["name"] }}</a>
                    {% else %}
                        {{ sound.licence_info()["name"] }}
                    {% endif %}
                </td>
            </tr>

            {% if info %}
                <tr><td>{{ gettext("Duration") }}</td><td colspan="2">{{ duration_song_human(info.duration) }}</td></tr>
                {% if info.type_human %}<tr><td>{{ gettext("Type") }}</td><td colspan="2">{{ info.type_human }}</td></tr>{% endif %}
                {% if info.codec %}<tr><td>{{ gettext("Codec") }}</td><td colspan="2">{{ info.codec }}</td></tr>{% endif %}
                {% if info.format %}<tr><td>{{ gettext("Format") }}</td><td colspan="2">{{ info.format }} bits</td></tr>{% endif %}
                {% if info.channels %}<tr><td>{{ gettext("Channels") }}</td><td colspan="2">{{ info.channels }}</td></tr>{% endif %}
                {% if info.rate %}<tr><td>{{ gettext("Rate") }}</td><td colspan="2">{{ info.rate }} Hz</td></tr>{% endif %}

                {% if info.bitrate and info.bitrate_mode %}
                    <tr><td>{{ gettext("Bitrate") }}</td><td colspan="2">{{ info.bitrate_mode }} {{ info.bitrate }} bps</td></tr>
                {% else %}
                    {% if info.bitrate %}
                        <tr><td>{{ gettext("Bitrate") }}</td><td colspan="2">{{ info.bitrate }} bps</td></tr>
                    {% endif %}

                    {% if info.bitrate_mode %}
                        <tr><td>{{ gettext("Bitrate mode") }}</td><td colspan="2">{{ info.bitrate_mode }}</td></tr>
                    {% endif %}
                {% endif %}

            {% endif %}
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
    opts = {
        backend: 'MediaElement',
        container: '#waveform',
        waveColor: 'darkorange',
        progressColor: 'purple',
        splitChannels: false,
        barWidth: 2,
        height: 64
    };

    {% if waveform %}
        var wavesurfer = WaveSurfer.create(opts);

        var waveform = {{ waveform }};

        var max = Math.max.apply(Math, waveform['data']);

        wavesurfer.load("{{ url_for('get_uploads_stuff', thing='sounds', stuff=sound.path_sound()) }}", waveform['data'].map(p => p / max));
    {% else %}
        opts["normalize"] = true;
        var wavesurfer = WaveSurfer.create(opts);

        wavesurfer.load("{{ url_for('get_uploads_stuff', thing='sounds', stuff=sound.path_sound()) }}");
    {% endif %}

    $('#player-time-cur').html("00:00");
    $('#player-time-tot').html(secondsTimeSpanToMS(wavesurfer.getDuration()));

    wavesurfer.on('audioprocess', function() {
        var current_time = wavesurfer.getCurrentTime();
        $('#player-time-cur').html(secondsTimeSpanToMS(current_time));
    });
    wavesurfer.on('seek', function() {
	    var current_time = wavesurfer.getCurrentTime();
	    $('#player-time-cur').html(secondsTimeSpanToMS(current_time));
    });

    wavesurfer.on('ready', function() {
        var duration_time = wavesurfer.getDuration();
        $('#player-time-tot').html(secondsTimeSpanToMS(duration_time));
    });

    $(function () {
        $('[data-toggle="popover"]').popover();
    });
    </script>
{% endblock %}
