{{template "base/head" .}}

<div class="row">
    <div class="col-lg-2">
        {{template "user/settings/sidebar" .}}
    </div>
    <div class="col-lg-9">
        <div class="page_modal">
            <form class="form" action="{{.Link}}" method="post">
                {{.CSRFTokenHTML}}
                <h4 class="header">{{Gettext ("Profile settings")}}</h4>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="content">
                            {{if .UserIsAdmin}}
                            {{Gettext ("You are admin.")}} <i class="fa fa-thumbs-up" aria-hidden="true")></i><br/><br/>
                            {{end}}
                            <div class="email form-group {{if .Err_Email}}has-error{{end}}">
                                <label for="email" class="sr-only">{{Gettext ("Email")}}</label>
                                <input type="email" name="email" id="email" class="form-control" value="{{.email}}" placeholder='{{Gettext ("Your Email")}}' required>
                            </div>

                            <button class="btn btn-sm btn-success" type="submit">{{Gettext ("Save")}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{template "base/footer" .}}