<div class="settings_sidebar">
    <div class="header item">{{ Gettext ("Settings") }}</div>
    <a class="{{if .PageIsSettingsProfile}}active{{end}} item" href="/user/settings">{{Gettext ("Profile")}}</a>
    <a class="item" href="/user/forget_password">{{Gettext ("Reset Password")}}</a>
</div>