<div class="settings_sidebar">
    <div class="header item">Settings</div>
    <a class="{{if .PageIsSettingsProfile}}active{{end}} item" href="/user/settings">{{.i18n.Tr "settings.sidebar.profile"}}</a>
    <a class="item" href="/user/forget_password">{{.i18n.Tr "settings.sidebar.reset_password"}}</a>
</div>
