<div class="settings_sidebar">
    <div class="header item">Settings</div>
    <a class="{{if .PageIsSettingsProfile}}active{{end}} item" href="{{ URLFor "user_settings"}}">{{.i18n.Tr "settings.sidebar.profile"}}</a>
    <a class="item" href="{{ URLFor "user_forget_password"}}">{{.i18n.Tr "settings.sidebar.reset_password"}}</a>
</div>
