{{template "base/head" .}}

<div class="row">
    <div class="col-lg-11 col-lg-offset-1">
        <div class="page_modal admin-dashboard">
            <div class="header">
                <h4>{{.i18n.Tr "admin.monitor.cron"}}</h4>
            </div>

            <div class="content">
                <table class="table table-stripped table-compact">
                    <thead>
                    <tr>
                        <th>{{.i18n.Tr "admin.monitor.name"}}</th>
                        <th>{{.i18n.Tr "admin.monitor.schedule"}}</th>
                        <th>{{.i18n.Tr "admin.monitor.next"}}</th>
                        <th>{{.i18n.Tr "admin.monitor.previous"}}</th>
                        <th>{{.i18n.Tr "admin.monitor.execute_times"}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .Entries}}
                    <tr>
                        <td>{{.Description}}</td>
                        <td>{{.Spec}}</td>
                        <td>{{DateFmtLong .Next}}</td>
                        <td>{{if gt .Prev.Year 1 }}{{DateFmtLong .Prev}}{{else}}N/A{{end}}</td>
                        <td>{{.ExecTimes}}</td>
                    </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-11 col-lg-offset-1">
        <div class="page_modal admin-dashboard">
            <div class="header">
                <h4>{{.i18n.Tr "admin.dashboard.system_status"}}</h4>
            </div>

            <div class="content">
                <dl class="sys-stats">
                    <dt>{{.i18n.Tr "admin.dashboard.server_uptime"}}</dt>
                    <dd>{{.SysStatus.Uptime}}</dd>
                    <dt>{{.i18n.Tr "admin.dashboard.current_goroutine"}}</dt>
                    <dd>{{.SysStatus.NumGoroutine}}</dd>
                    <div class="ui divider"></div>
                    <dt>{{.i18n.Tr "admin.dashboard.current_memory_usage"}}</dt>
                    <dd>{{.SysStatus.MemAllocated}}</dd>
                    <dt>{{.i18n.Tr "admin.dashboard.total_memory_allocated"}}</dt>
                    <dd>{{.SysStatus.MemTotal}}</dd>
                    <dt>{{.i18n.Tr "admin.dashboard.memory_obtained"}}</dt>
                    <dd>{{.SysStatus.MemSys}}</dd>
                    <dt>{{.i18n.Tr "admin.dashboard.pointer_lookup_times"}}</dt>
                    <dd>{{.SysStatus.Lookups}}</dd>
                    <dt>{{.i18n.Tr "admin.dashboard.memory_allocate_times"}}</dt>
                    <dd>{{.SysStatus.MemMallocs}}</dd>
                    <dt>{{.i18n.Tr "admin.dashboard.memory_free_times"}}</dt>
                    <dd>{{.SysStatus.MemFrees}}</dd>
                    <div class="ui divider"></div>
                    <dt>{{.i18n.Tr "admin.dashboard.current_heap_usage"}}</dt>
                    <dd>{{.SysStatus.HeapAlloc}}</dd>
                    <dt>{{.i18n.Tr "admin.dashboard.heap_memory_obtained"}}</dt>
                    <dd>{{.SysStatus.HeapSys}}</dd>
                    <dt>{{.i18n.Tr "admin.dashboard.heap_memory_idle"}}</dt>
                    <dd>{{.SysStatus.HeapIdle}}</dd>
                    <dt>{{.i18n.Tr "admin.dashboard.heap_memory_in_use"}}</dt>
                    <dd>{{.SysStatus.HeapInuse}}</dd>
                    <dt>{{.i18n.Tr "admin.dashboard.heap_memory_released"}}</dt>
                    <dd>{{.SysStatus.HeapReleased}}</dd>
                    <dt>{{.i18n.Tr "admin.dashboard.heap_objects"}}</dt>
                    <dd>{{.SysStatus.HeapObjects}}</dd>
                    <div class="ui divider"></div>
                    <dt>{{.i18n.Tr "admin.dashboard.bootstrap_stack_usage"}}</dt>
                    <dd>{{.SysStatus.StackInuse}}</dd>
                    <dt>{{.i18n.Tr "admin.dashboard.stack_memory_obtained"}}</dt>
                    <dd>{{.SysStatus.StackSys}}</dd>
                    <dt>{{.i18n.Tr "admin.dashboard.mspan_structures_usage"}}</dt>
                    <dd>{{.SysStatus.MSpanInuse}}</dd>
                    <dt>{{.i18n.Tr "admin.dashboard.mspan_structures_obtained"}}</dt>
                    <dd>{{.SysStatus.MSpanSys}}</dd>
                    <dt>{{.i18n.Tr "admin.dashboard.mcache_structures_usage"}}</dt>
                    <dd>{{.SysStatus.MCacheInuse}}</dd>
                    <dt>{{.i18n.Tr "admin.dashboard.mcache_structures_obtained"}}</dt>
                    <dd>{{.SysStatus.MCacheSys}}</dd>
                    <dt>{{.i18n.Tr "admin.dashboard.profiling_bucket_hash_table_obtained"}}</dt>
                    <dd>{{.SysStatus.BuckHashSys}}</dd>
                    <dt>{{.i18n.Tr "admin.dashboard.gc_metadata_obtained"}}</dt>
                    <dd>{{.SysStatus.GCSys}}</dd>
                    <dt>{{.i18n.Tr "admin.dashboard.other_system_allocation_obtained"}}</dt>
                    <dd>{{.SysStatus.OtherSys}}</dd>
                    <div class="ui divider"></div>
                    <dt>{{.i18n.Tr "admin.dashboard.next_gc_recycle"}}</dt>
                    <dd>{{.SysStatus.NextGC}}</dd>
                    <dt>{{.i18n.Tr "admin.dashboard.last_gc_time"}}</dt>
                    <dd>{{.SysStatus.LastGC}}</dd>
                    <dt>{{.i18n.Tr "admin.dashboard.total_gc_pause"}}</dt>
                    <dd>{{.SysStatus.PauseTotalNs}}</dd>
                    <dt>{{.i18n.Tr "admin.dashboard.last_gc_pause"}}</dt>
                    <dd>{{.SysStatus.PauseNs}}</dd>
                    <dt>{{.i18n.Tr "admin.dashboard.gc_times"}}</dt>
                    <dd>{{.SysStatus.NumGC}}</dd>
                </dl>
            </div>

        </div>
    </div>
</div>

{{template "base/footer" .}}
