{{template "base/head" .}}

<div class="row">
    <div class="col-lg-2">
        {{template "admin/sidebar" .}}
    </div>

    <div class="col-lg-9">
        <div class="page_modal admin-dashboard">
            <div class="header">
                <h4>{{Gettext ("Cron Tasks")}}</h4>
            </div>

            <div class="content">
                <table class="table table-stripped table-compact">
                    <thead>
                    <tr>
                        <th>{{Gettext ("Name")}}</th>
                        <th>{{Gettext ("Schedule")}}</th>
                        <th>{{Gettext ("Next Time")}}</th>
                        <th>{{Gettext ("Previous Time")}}</th>
                        <th>{{Gettext ("Execute Times")}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .Entries}}
                    <tr>
                        <td>{{.Description}}</td>
                        <td>{{.Spec}}</td>
                        <td>{{DateFmtLong .Next}}</td>
                        <td>{{if gt .Prev.Year 1 }}{{DateFmtLong .Prev}}{{else}}N/A{{end}}</td>
                        <td>{{.ExecTimes}}</td>
                    </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-9 col-lg-offset-2">
        <div class="page_modal admin-dashboard">
            <div class="header">
                <h4>{{Gettext ("System Monitor Status")}}</h4>
            </div>

            <div class="content">
                <dl class="sys-stats">
                    <dt>{{Gettext ("Server Uptime")}}</dt>
                    <dd>{{.SysStatus.Uptime}}</dd>
                    <dt>{{Gettext ("Current Goroutines")}}</dt>
                    <dd>{{.SysStatus.NumGoroutine}}</dd>
                    <div class="ui divider"></div>
                    <dt>{{Gettext ("Current Memory Usage")}}</dt>
                    <dd>{{.SysStatus.MemAllocated}}</dd>
                    <dt>{{Gettext ("Total Memory Allocated")}}</dt>
                    <dd>{{.SysStatus.MemTotal}}</dd>
                    <dt>{{Gettext ("Memory Obtained")}}</dt>
                    <dd>{{.SysStatus.MemSys}}</dd>
                    <dt>{{Gettext ("Pointer Lookup Times")}}</dt>
                    <dd>{{.SysStatus.Lookups}}</dd>
                    <dt>{{Gettext ("Memory Allocate Times")}}</dt>
                    <dd>{{.SysStatus.MemMallocs}}</dd>
                    <dt>{{Gettext ("Memory Free Times")}}</dt>
                    <dd>{{.SysStatus.MemFrees}}</dd>
                    <div class="ui divider"></div>
                    <dt>{{Gettext ("Current Heap Usage")}}</dt>
                    <dd>{{.SysStatus.HeapAlloc}}</dd>
                    <dt>{{Gettext ("Heap Memory Obtained")}}</dt>
                    <dd>{{.SysStatus.HeapSys}}</dd>
                    <dt>{{Gettext ("Heap Memory Idle")}}</dt>
                    <dd>{{.SysStatus.HeapIdle}}</dd>
                    <dt>{{Gettext ("Heap Memory In Use")}}</dt>
                    <dd>{{.SysStatus.HeapInuse}}</dd>
                    <dt>{{Gettext ("Heap Memory Released")}}</dt>
                    <dd>{{.SysStatus.HeapReleased}}</dd>
                    <dt>{{Gettext ("Heap Objects")}}</dt>
                    <dd>{{.SysStatus.HeapObjects}}</dd>
                    <div class="ui divider"></div>
                    <dt>{{Gettext ("Bootstrap Stack Usage")}}</dt>
                    <dd>{{.SysStatus.StackInuse}}</dd>
                    <dt>{{Gettext ("Stack Memory Obtained")}}</dt>
                    <dd>{{.SysStatus.StackSys}}</dd>
                    <dt>{{Gettext ("MSpan Structures Usage")}}</dt>
                    <dd>{{.SysStatus.MSpanInuse}}</dd>
                    <dt>{{Gettext ("MSpan Structures Obtained")}}</dt>
                    <dd>{{.SysStatus.MSpanSys}}</dd>
                    <dt>{{Gettext ("MCache Structures Usage")}}</dt>
                    <dd>{{.SysStatus.MCacheInuse}}</dd>
                    <dt>{{Gettext ("MCache Structures Obtained")}}</dt>
                    <dd>{{.SysStatus.MCacheSys}}</dd>
                    <dt>{{Gettext ("Profiling Bucket Hash Table Obtained")}}</dt>
                    <dd>{{.SysStatus.BuckHashSys}}</dd>
                    <dt>{{Gettext ("GC Metadata Obtained")}}</dt>
                    <dd>{{.SysStatus.GCSys}}</dd>
                    <dt>{{Gettext ("Other System Allocation Obtained")}}</dt>
                    <dd>{{.SysStatus.OtherSys}}</dd>
                    <div class="ui divider"></div>
                    <dt>{{Gettext ("Next GC Recycle")}}</dt>
                    <dd>{{.SysStatus.NextGC}}</dd>
                    <dt>{{Gettext ("Since Last GC Time")}}</dt>
                    <dd>{{.SysStatus.LastGC}}</dd>
                    <dt>{{Gettext ("Total GC Pause")}}</dt>
                    <dd>{{.SysStatus.PauseTotalNs}}</dd>
                    <dt>{{Gettext ("Last GC Pause")}}</dt>
                    <dd>{{.SysStatus.PauseNs}}</dd>
                    <dt>{{Gettext ("GC Times")}}</dt>
                    <dd>{{.SysStatus.NumGC}}</dd>
                </dl>
            </div>

        </div>
    </div>
</div>

{{template "base/footer" .}}
