<div class="settings_sidebar">
    <div class="header item">{{Gettext ("Administration")}}</div>
    <a class="{{if .PagesIsAdminDashboard}}active{{end}} item" href='{{URLFor "admin_dashboard"}}'>{{Gettext ("Dashboard")}}</a>
</div>