[Unit]
Description=reel2bits-worker
After=network.target

[Service]
Type=simple
User=reel2bits
WorkingDirectory=/home/reel2bits/go/src/dev.sigpipe.me/dashie/reel2bits
ExecStart=/home/reel2bits/go/src/dev.sigpipe.me/dashie/reel2bits/reel2bits worker
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
