# If you have any doubts about what a setting does,
# check https://docs-develop.reel2bits.org/installation/configuration.html
# The current file might not have all the available keys.

# The tag of the image we should use
# (it will be interpolated in docker-compose file)
# You can comment or ignore this if you're not using docker
REEL2BITS_VERSION=latest

REEL2BITS_FRONTEND_PATH = /srv/reel2bits/front/dist

# Set this variables to bind the API server to another interface/port
# example: REEL2BITS_API_IP=0.0.0.0
# example: REEL2BITS_API_PORT=5678
REEL2BITS_API_IP=127.0.0.1
REEL2BITS_API_PORT=5000

# Database configuration
# Examples:
#  DATABASE_URL=postgresql://<user>:<password>@<host>:<port>/<database>
#  DATABASE_URL=postgresql://reel2bits:passw0rd@localhost:5432/reel2bits_database
# Use the next one if you followed the Linux installation guide
# DATABASE_URL=postgresql://reel2bits@:5432/reel2bits

# Where uploaded files (such as audio tracks and waveforms) should be stored
# on your system?
# (Ensure this directory actually exists)
MEDIA_ROOT=/srv/reel2bits/data/uploads
