[Unit]
Description=reel2bits-web
After=network.target
PartOf=reel2bits.target

[Service]
Type=simple
User=reel2bits
WorkingDirectory=/home/reel2bits/reel2bits/api
Environment="FLASK_ENV=production"
# Look at documentation for the configuration part
Environment="APP_SETTINGS='config.production_secret.Config'"
ExecStart=/home/reel2bits/reel2bits/venv/bin/waitress-serve --call app:create_app --host 0.0.0.0 --port 8000
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
