[Unit]
Description=reel2bits-worker
After=network.target
PartOf=reel2bits.target

[Service]
Type=simple
User=reel2bits
WorkingDirectory=/home/reel2bits/reel2bits
Environment="FLASK_ENV=production"
# Celery workers handle background tasks (such file imports or federation
# messaging). The more processes a worker gets, the more tasks
# can be processed in parallel. However, more processes also means
# a bigger memory footprint.
# By default, a worker will span a number of process equal to your number
# of CPUs. You can adjust this, by explicitly setting the --concurrency
# flag:
#   celery -A tasks.celery worker -l INFO --concurrency=4
ExecStart=/home/reel2bits/reel2bits/venv/bin/celery worker -A tasks.celery -l INFO
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
