{% extends "layout.jinja2" %}

{% block content %}
    <div class="row">
        <div class="col-lg-10"><h3>{{ gettext("Searching for: <i>%(username)s</i>", username=who) }}</h3></div>
    </div>

    <br/>

    <div class="row">
        <div class="col-lg-10">
            {% for user in users %}
                <div class="row_user">
                    {{ gettext("Local user:") }} <a href="{{ url_for('bp_users.profile', name=user[0].name) }}">{{ user[0].name }}</a> -
                    {% if user[2] %}
                        <a href="{{ url_for("bp_users.unfollow", user=user[0].name) }}">unfollow</a>
                    {% else %}
                        <a href="{{ url_for("bp_users.follow", user=user[0].name) }}">follow</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
