{% extends "layout.jinja2" %}

{% block content %}
    <div class="row">
        <div class="col-lg-10"><h3>{{ gettext("Searching for: <i>%(username)s</i>", username=who) }}</h3></div>
    </div>

    <br/>

    <div class="row">
        <div class="col-lg-10">
            {% for user in users %}
                <div class="row_user">
                    {{ gettext("Local user:") }} <a href="{{ url_for('bp_users.profile', name=user.name) }}">{{ user.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
