{% extends "layout.jinja2" %}
{% import 'bootstrap/form.html' as bf4 %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-8">
            <h3>{{ gettext("Edit album %(title)s", title=album.title) }}</h3>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-8">
            {{ bf4.render_form(form, action=url_for('bp_albums.edit', username=album.user.name, setslug=album.slug), horizontal_columns=('lg', 3, 7), form_type='horizontal', button_map={'submit': 'success'}) }}
        </div>
    </div>
{% endblock %}
