{{template "base/head" .}}

<div class="row">
    <div class="col-lg-9 col-lg-offset-1">
        <form class="form" action="{{.Link}}" method="post">
            {{.CSRFTokenHTML}}
            <h4 class="header">{{Gettext ("Create a new album")}}</h4>

            <div class="row">
                <div class="col-lg-6">
                    <div class="content">
                        <div class="form-group {{if .Err_Title}}has-error{{end}}">
                            <label for="name" class="">{{Gettext ("Name")}}</label>
                            <input type="text" name="name" id="name" class="form-control" value="{{.name}}" placeholder='{{Gettext ("Name of album")}}' required>
                        </div>

                        <div class="form-group {{if .Err_Description}}has-error{{end}}">
                            <label for="description" class="">{{Gettext ("Description")}}</label>
                            <textarea name="description" id="description" class="form-control" placeholder='{{Gettext ("Description of album")}}'>{{.description}}</textarea>
                        </div>

                        <div class="checkbox {{if .Err_IsPrivate}}has-error{{end}}">
                            <label>
                                <input type="checkbox" name="is_private" id="is_private" class="" value="true">{{Gettext ("Private album ?")}}
                            </label>
                        </div>

                        <button class="btn btn-sm btn-success" type="submit">{{Gettext ("Save")}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{{template "base/footer" .}}
