.DS_Store
node_modules
config/local.json
dist/*.html
dist/static/
src/translations.json
src/translations/*.json
locales/en_US/LC_MESSAGES/app.po
*.mo

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
