{% extends "layout.jinja2" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <p>reel2bits is developped by <a href="http://sigpipe.me/" target="_blank">Dashie</a> and is available under MIT license.</p>
        <ul>
            <li>Source code is here : <a href="http://dev.sigpipe.me/dashie/reel2bits" target="_blank">http://dev.sigpipe.me/dashie/reel2bits</a></li>
            <li>Issue tracker is here : <a href="http://dev.sigpipe.me/dashie/reel2bits/issues" target="_blank">http://dev.sigpipe.me/dashie/reel2bits/issues</a></li>
        </ul>
    </div>
</div>
{% endblock %}
