{{template "base/head" .}}
<div class="ui container center">
	<h3>Impressum</h3>
	<div class="ui divider"></div>
	<br>
	<p>Please add here your contact and stuff.</p>
</div>
{{template "base/footer" .}}
