{% import "bootstrap/utils.html" as butils %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
    {% block title %}{% if pcfg and pcfg['title'] %}
        {{ pcfg['title'] }} - {{ gcfg()['app_name'] }}
    {% else %}
        {{  gcfg()['app_name'] }}
    {% endif %}{% endblock %}
    </title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ url_for('static', filename='css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block styles %}{% endblock %}
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('bp_main.home') }}">{{ gcfg()['app_name'] }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if request.endpoint %}
                <li class="{% if request.endpoint.startswith('bp_main.about') %}active{% endif %}"><a href="{{ url_for('bp_main.about') }}">About</a></li>
                {% if current_user.is_authenticated %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logged as {{ current_user.name }} <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li class="dropdown-header">User</li>
                          <li><a href="{{ url_for('bp_users.profile') }}">Profile</a></li>
                          <li><a href="{{ url_for('bp_users.logs') }}">Logs</a></li>
                          {% if is_admin() %}
                              <li role="separator" class="divider"></li>
                              <li class="dropdown-header">Admin</li>
                              <li><a href="{{ url_for('bp_admin.config') }}">App config</a></li>
                              <li><a href="{{ url_for('bp_admin.logs') }}">App logs</a></li>
                          {% endif %}
                          <li role="separator" class="divider"></li>
                          <li><a href="{{ url_for_security('change_password') }}">Change password</a></li>
                          <li><a href="{{ url_for_security('logout') }}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    {% if security.registerable %}
                        <li class="{% if request.endpoint.startswith('security.register') %}active{% endif %}"><a href="{{ url_for_security('register') }}">Register</a></li>
                    {% endif %}
                    <li class="{% if request.endpoint.startswith('security.login') %}active{% endif %}"><a href="{{ url_for_security('login') }}">Login</a></li>
                {% endif %}
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">{{ butils.flashed_messages(container=False) }}</div>
        </div>

      <div class="row">

        <div class="col-sm-12 blog-main">
            {% block content %}{% endblock %}
        </div><!-- /.blog-main -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>Use template for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a> and uses <a href="http://glyphicons.com/">Glyphicons</a>, reel2bits <a href="https://dev.sigpipe.me/dashie/reel2bits">source code</a></p>
        <p><small>Running version {{ g.cfg['REEL2BITS_VERSION'] }}</small></p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery-2.2.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='js/ie10-viewport-bug-workaround.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.bootstrap-growl.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
