{% macro user_card(username, name, url, instance, summary, follow, remote, current_user) -%}
    <div class="card text-center">
        <div class="card-header">{{ username or name }}</div>
        <div class="card-body">
            {% if remote %}
                <h6 class="card-title"><a href="{{ url }}">{{ name }}@{{ instance }}</a></h6>
            {% else %}
                <h6 class="card-title"><a href="{{ url }}">{{ name }}</a></h6>
            {% endif %}
            <p class="card-text">{{ summary|safe or "" }}</p>
        </div>
        {% if current_user.is_authenticated %}
            {% if follow != None %}
                <div class="card-footer">
                    {% if follow %}
                        following
                        <a href="{{ url_for("bp_users.unfollow", user=url) }}">
                            <i class="fa fa-user-times" aria-hidden="true" title="unfollow" ></i>
                        </a>
                    {% else %}
                        not following
                        <a href="{{ url_for("bp_users.follow", user=url) }}">
                            <i class="fa fa-user-plus" aria-hidden="true" title="follow" ></i>
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    </div>
{%- endmacro %}
