{{template "base/head" .}}

{{ if not .items }}
<div class="row">
    <div class="col-lg-9 col-lg-offset-1">
        <h4>Looks like there is no items to show !</h4>
    </div>
</div>
{{ else }}
    <div class="row">
        <div class="col-lg-9 col-lg-offset-1">
            {{range $item := .items}}
                {{ if $item.Track }}
                    <div class="row single_track_list">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <a href="{{ URLFor "track_show" ":userSlug" $item.User.Slug ":trackSlug" $item.Track.Slug }}">{{ $item.Track.Title }}</a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i> {{ ElapsedToHuman $item.Track.CreatedAt }}
                                </div>
                                <div class="col-lg-6">
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                    {{ DurationToHuman $item.Track.TrackInfo.Duration }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <i class="fa fa-user-o" aria-hidden="true"></i> by <a href="{{ URLFor "track_list" ":userSlug" $item.User.Slug }}">{{ $item.User.UserName }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            {{ if $item.Track.TrackInfo.Waveform }}
                            <img src="{{ URLFor "media_track_waveform" ":userSlug" $item.User.Slug ":trackSlug" $item.Track.Slug }}"/>
                            {{ else }}
                            <span class="label label-info">Please wait, song metadatas are processing...</span>
                            {{ end }}
                        </div>
                    </div>
                {{ end }}
            {{end}}
        </div>
    </div>

    {{template "base/pagination" .}}
{{ end }}

{{template "base/footer" .}}
