{% extends "layout.jinja2" %}
{% from "macros.jinja2" import user_card %}

{% block content %}
    <div class="row">
        <div class="col-lg-10"><h3>{{ gettext("Followers of") }} <a
                href="{{ url_for("bp_users.profile", name=user.name) }}">{{ user.username() }}</a></h3></div>
    </div>

    <br/>

    <div class="row">
        <div class="col-lg-10">
            <div class="card-columns">
                {% for f in followers %}
                    {% if current_user.is_authenticated and current_user == user %}
                        {{ user_card(f.actor.username, f.actor.name, f.actor.url, f.actor.domain, f.actor.summary, f.follow_back(), not f.actor.is_local(), current_user) }}
                    {% else %}
                        {{ user_card(f.actor.username, f.actor.name, f.actor.url, f.actor.domain, f.actor.summary, None, not f.actor.is_local(), current_user) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
