{% extends "layout.jinja2" %}
{% from "macros.jinja2" import user_card %}

{% block content %}
    <div class="row">
        <div class="col-lg-10"><h3>{{ gettext("Followings of") }} <a href="{{ url_for("bp_users.profile", name=user.name) }}">{{ user.username() }}</a></h3></div>
    </div>

    <br/>

    <div class="row">
        <div class="col-lg-10">
            <div class="card-columns">
                {% for f in followings %}
                    {% if current_user.is_authenticated and current_user == user %}
                        {{ user_card(f.target.username, f.target.name, f.target.url, f.target.domain, f.target.summary, f.actor_id == user.actor[0].id, not f.target.is_local(), current_user) }}
                    {% else %}
                        {{ user_card(f.target.username, f.target.name, f.target.url, f.target.domain, f.target.summary, None, not f.target.is_local(), current_user) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
