{% extends "layout.jinja2" %}

{% block content %}
    <div class="row">
        <div class="col-lg-10"><h3>{{ gettext("Followers of") }} <a href="{{ url_for("bp_users.profile", name=user.name) }}">{{ user.username() }}</a></h3></div>
    </div>

    <br/>

    <div class="row">
        <div class="col-lg-10">
            {% for f in followers %}
                {% if not f.actor.is_local() %}
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h6 class="card-title"><a href="{{ f.actor.url }}">{{ f.actor.name }}@{{ f.actor.domain }}</a></h6>
                        <p class="card-text">{{ f.actor.summary or "" }}</p>
                      </div>
                    </div>
                {% else %}
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h6 class="card-title"><a href="{{ f.target.url }}">{{ f.target.name }}</a></h6>
                        <p class="card-text">{{ f.target.summary or "" }}</p>
                      </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
