{% extends "layout.jinja2" %}

{% block content %}
    <div class="row">
        <div class="col-lg-10"><h3>{{ user.name }}'s profile</h3></div>
    </div>

    <div class="row">
        <div class="col-lg-10">
            See:&nbsp;<a href="{{ url_for('bp_users.profile', name=user.name) }}">all sounds</a>
        </div>
        <div class="col-lg-2">
            {% if current_user.is_authenticated %}
            <a class="btn btn-primary btn-xs" href="{{ url_for('bp_users.edit') }}">Edit profile</a>
            {% endif %}
        </div>
    </div>

    <hr>

    {% for sound in user.sounds %}
        <div class="row">

        {% if sound.sound_infos.first() %}
            {% set sound_infos = true %}
            {% if sound.sound_infos.first().waveform != None %}
                {% set waveform = true %}
            {% else %}
                {% set waveform = false %}
            {% endif %}
        {% else %}
            {% set sound_infos = false %}
        {% endif %}

            <div class="col-lg-6">
                <i class="fa fa-play-circle" aria-hidden="true"></i>&nbsp;
                <a href="{{ url_for("bp_sound.show", username=user.name, songslug=sound.slug) }}">{{ sound.title or sound.filename }}</a>
                <br />
                <i class="fa fa-calendar" aria-hidden="true"></i> {{ duration_elapsed_human(sound.elapsed()) }} ago

                {% if sound_infos %}
                    &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-play" aria-hidden="true"></i>
                    {{ duration_song_human(sound.sound_infos.one().duration) }}
                {% endif %}
            </div>
            <div class="col-lg-6">
                {% if waveform %}
                <img src="{{ url_for('get_uploads_stuff', thing='sounds', stuff='{0}.png'.format(sound.filename)) }}"/>
                {% endif %}
            </div>
        </div>

        <hr>
    {% endfor %}

{% endblock %}
