{% extends "layout.jinja2" %}

{% block opengraph %}
    <meta content="{{ g.cfg['app_name'] }}" property="og:site_name" />
    <meta property="og:type" content="profile">
    <meta content="Tracks of {{ user.name }}" property="og:title" />
    <meta content="Tracks of {{ user.name }}" property="og:description" />
    <meta content="{{ url_for('bp_users.profile', name=user.name) }}" property="og:url" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-9"><h3>{{ gettext("%(username)s's profile", username=user.username()) }}</h3></div>
        <div class="col-lg-3">
            <a href="{{ url_for("bp_ap.followings", name=user.name) }}">{{ gettext("Followings: %(count)s", count=followings) }}</a>
            |
            <a href="{{ url_for("bp_ap.followers", name=user.name) }}">{{ gettext("Followers: %(count)s", count=followers) }}</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10">
            {{ gettext("See:") }}&nbsp;<a href="{{ url_for('bp_users.profile', name=user.name) }}">{{ gettext("all sounds") }} <span class="badge">{{ sounds.count() }}</span></a>
            <a href="{{ url_for('bp_users.profile_albums', name=user.name) }}">{{ gettext("all albums") }} <span class="badge">{{ user.albums.count() }}</span></a>
        </div>
        <div class="col-lg-2">
            {% if current_user.is_authenticated and user == current_user %}
            <a class="btn btn-primary btn-xs" href="{{ url_for('bp_users.edit') }}">{{ gettext("Edit profile") }}</a>
            {% endif %}
        </div>
    </div>

    <hr>

    {% for sound in sounds %}
        <div class="row">

        {% if sound.sound_infos.first() %}
            {% set sound_infos = true %}
            {% if sound.sound_infos.first().waveform != None %}
                {% set waveform = true %}
            {% else %}
                {% set waveform = false %}
            {% endif %}
        {% else %}
            {% set sound_infos = false %}
        {% endif %}

            <div class="col-lg-6">
                {% if not sound.private %}<i class="fa fa-music" aria-hidden="true"></i>{% else %}<i class="fa fa-lock" aria-hidden="true"></i>{% endif %}&nbsp;
                <a href="{{ url_for("bp_sound.show", username=user.name, soundslug=sound.slug) }}">{{ sound.title|truncate(60) }}</a>
                <br />
                <i class="fa fa-calendar" aria-hidden="true"></i> {{ gettext("%(value)s ago", value=duration_elapsed_human(sound.elapsed())) }}

                {% if sound_infos %}
                    &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-play" aria-hidden="true"></i>
                    {{ duration_song_human(sound.sound_infos.one().duration) }}
                {% endif %}

                {% if sound.album %}
                    <br />
                    {{ gettext("In album:") }} <a href="{{ url_for("bp_albums.show", username=sound.user.name, setslug=sound.album.slug) }}">{{ sound.album.title|truncate(15) }}</a>
                {% endif %}

            </div>
            <div class="col-lg-6">
                {% if waveform %}
                    <img src="{{ url_for('get_uploads_stuff', thing='waveforms', stuff=sound.path_waveform()) }}"/>
                {% else %}
                    <span class="label label-info">{{ gettext("Please wait, song metadatas are processing...") }}</span>
                {% endif %}
            </div>
        </div>

        <hr>
    {% else %}
        <div class="row">
            <div class="col-lg-6">
                <h4>{{ gettext("This user haven't uploaded any sound :( !") }}</h4>
            </div>
        </div>
    {% endfor %}

{% endblock %}
