[Unit]
Description=reel2bits-web
After=network.target

[Service]
Type=simple
User=reel2bits
WorkingDirectory=/home/reel2bits/reel2bits
ExecStart=/home/reel2bits/reel2bits/venv/bin/gunicorn -w 2 -b 127.0.0.1:8000 --error-logfile=errors.log --access-logfile=access.log --chdir=/home/reel2bits/reel2bits app:create_app
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
