[Unit]
Description=reel2bits-worker
After=network.target

[Service]
Type=simple
User=reel2bits
WorkingDirectory=/home/reel2bits/reel2bits
Environment="FLASK_ENV=production"
ExecStart=/home/reel2bits/reel2bits/venv/bin/dramatiq workers -Q upload_workflow
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
